.navbar {
    width: 100%;
    background: rgba(0, 0, 0, 0.9);
    color: #fff;
    padding: 24px;
    box-sizing: border-box;
    height: 77px;

    a {
        color: #fff;
        text-decoration: none;
    }

    a.navbar-brand {
        font-size: 27px;
        float: left;
    }

    #navbarSupportedContent {
        margin-left: 100px;

        .navbar-nav {
            padding: 0;
            margin: 0;
            list-style-type: none;
            margin-top: 6px;

            li {
                float: left;
                padding: 0;
                margin-right: 20px;
            }
        }
    }

    .menu-for-auth {
        float: right;
    }

    .logged-menu {
        float: left;
        margin-left: 100px;

        .logout {
            float: right;
        }
    }
}
