.table {
    margin-top: 30px;
    width: 100%;
    overflow: auto;
    display: block;
    margin-bottom: 20px;
    thead {
        th {
            vertical-align: bottom;
            border-bottom: 2px solid #dee2e6;
        }
    }

    td {
        padding: .75rem;
        vertical-align: top;
        border-top: 1px solid #dee2e6;
    }

    tr {
        text-align: center;
    }
}
